@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");

@import "tailwindcss";

@theme {
  --font-Archivo: "Archivo Black", sans-serif;
  --font-Inter: "Inter", sans-serif;
  --font-Sora: "Sora", sans-serif;
  --color-carbon: #333333;
  --color-orange: #fe5944;
  --color-cream: #fcf1e3;
  --color-brown: #874300;
}

html {
  scrollbar-width: none;
  user-select: none;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}
